<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <h3></h3>
        <div class="live_patch_note_border">
            <div class="summary_container">
                <div class="summary_text">
                </div>
                <span class="update_tags">

                </span>
            </div>
            <div class="champion_icons_container">

            </div>
        </div>
    </section>
    <section>

    </section>
</body>
</html>